homeassistant:
  # Name of the location where Home Assistant is running
  #name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret hvw_latitude
  longitude: !secret hvw_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 100
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Country
  country: US
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Los_Angeles
  # Currency:
  currency: USD
  # URLS
  external_url: "https://hass-vs.tworoads.net:8123"
  internal_url: "http://192.168.35.161:8123"
  # Customization file
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml
  allowlist_external_dirs:
    - /config
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 127.0.0.1
        - 192.168.0.0/16
        - 172.30.0.0/24

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#api:
#config:
#logbook:
#sun:
#system_health:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123
http:
  ssl_certificate:    !secret ssl_certificate
  ssl_key:            !secret ssl_key

alexa:
  smart_home:
    locale: en-US
    endpoint: https://api.amazonalexa.com/v3/events
    client_id: amzn1.application-oa2-client.e9b18adc4c9549419ef104e4f2cd1720
    client_secret: e5b8174ad9abb3764329790c8e4331dac2300ed750bfa6cb710bd7e497c69b64
    filter:
      include_entities:
        - sensor.garage_temperature
        - sensor.cellar_temperature
        - sensor.air_quality_index
        - sensor.upstairs_temperature
        - sensor.downstairs_temperature
        - sensor.pentair_0d_ce_47_air_temperature
        - climate.pentair_0d_ce_47_pool_heat
        - climate.pentair_0d_ce_47_spa_heat
        - switch.pentair_0d_ce_47_spa
        - switch.pentair_0d_ce_47_jets
        - switch.pentair_0d_ce_47_waterfall
        - light.pentair_0d_ce_47_spa_light
        - light.pentair_0d_ce_47_pool_light
        - switch.pentair_0d_ce_47_pool
        - switch.pentair_0d_ce_47_cleaner
#      include_domains:
#        - switch
#      exclude_entities:
#        - switch.outside
    entity_config:
      climate.pentair_0d_ce_47_pool_heat:
        name: "Pool"
      climate.pentair_0d_ce_47_spa_heat:
        name: "Spa"
      sensor.pentair_0d_ce_47_air_temperature:
        name: "Patio"
        display_categories: TEMPERATURE_SENSOR
      switch.pentair_0d_ce_47_waterfall:
        name: "Waterfall"
      switch.pentair_0d_ce_47_pool:
        name: "Pool Pump"
      switch.pentair_0d_ce_47_cleaner:
        name: "Pool Cleaner"
      switch.pentair_0d_ce_47_spa:
        name: "Spa Pump"
      switch.pentair_0d_ce_47_jets:
        name: "Spa Jets"
      switch.pentair_0d_ce_47_pool_light:
        name: "Pool Lights"
      switch.pentair_0d_ce_47_spa_light:
        name: "Spa Lights"
      sensor.upstairs_temperature:
        name: "Upstairs"
        display_categories: TEMPERATURE_SENSOR
      sensor.downstairs_temperature:
        name: "Downstairs"
        display_categories: TEMPERATURE_SENSOR
      sensor.cellar_temperature:
        name: "Wine Cellar"
        display_categories: TEMPERATURE_SENSOR
      sensor.garage_temperature:
        name: "Garage"
        display_categories: TEMPERATURE_SENSOR
      sensor.air_quality_index:
        name: "Air Quality"
        display_categories: TEMPERATURE_SENSOR
#      light.kitchen:
#        name: "Custom Name for Alexa"
#        description: "The light in the kitchen"
#      switch.stairs:
#        display_categories: LIGHT

influxdb:
  api_version: 2
  ssl: false
  host: !secret influxdb_host
  port: !secret influxdb_port
  organization: !secret influxdb_org
  bucket: !secret influxdb_bucket
  token: !secret influxdb_token

telegram_bot:
  - platform: polling # polling or broadcast
    api_key: !secret telegram_apikey
    parse_mode: html # otherwise '_' are interpreted as for italics in msg parser
    allowed_chat_ids:
      - !secret telegram_chatid # First chat Group "HA Horizonview"
      - !secret telegram_userid # "Scott"

notify:
  - name: telegram_horizonview
    platform: telegram
    api_key: !secret telegram_apikey
    chat_id: !secret telegram_chatid

camera:                                                         
  - platform: local_file                                        
    name: Front Yard Snapshot            
    file_path: /config/www/snapshots/hv_front_yard.png

logger:
  default: info
  logs:
    hole: warning
    pyunifiprotect.api: warning
#    homeassistant.components.automation: debug
#    homeassistant.components.mqtt: debug
#    homeassistant.components.homekit: debug
#    homeassistant.components.integration: debug
#    homeassistant.components.alexa: debug
#    homeassistant.components.sensor: debug
#    homeassistant.components.climate: debug
    homeassistant.components.shell_command: debug
#    homeassistant.helpers.entity: debug
    charset_normalizer: warning

device_tracker:
  - platform: mqtt_json
    devices:
      srp_iphone_ios: 'location/phone/srp_iphone_ios'
      audi_a6_gps: 'location/car/audi_a6_gps'
      audi_q7_gps: 'location/car/audi_q7_gps'
      toyota_rav4_gps: 'location/car/toyota_rav4_gps'
 

#hydrawise:
#  access_token: !secret hydrawise_api

schluter:     
  username: !secret schluter_username
  password: !secret schluter_password


envisalink:
  host: !secret envisalink_host
  panel_type: HONEYWELL      
  user_name: user
  password: user
  code: '1978'
  port: 4025
  evl_version: 4
  keepalive_interval: 60
  zonedump_interval: 20
  timeout: 10
  zones:
    1:
      name: 'Upper Hall Smoke'
      type: 'smoke'
    2:
      name: 'Entry Doors'
      type: 'door'
    3:
      name: 'Master Bed Motion'
      type: 'motion'
    4:
      name: 'Lower Hall Motion'
      type: 'motion'
    5:
      name: 'Entry Hall Motion'
      type: 'motion'
    6:
      name: 'Kitchen Motion'
      type: 'motion'
    7:
      name: 'Lower Doors'
      type: 'door'
    8:
      name: 'Upper Doors'
      type: 'door'
    10:
      name: 'Master Bed Smoke'
      type: 'smoke'
    11:
      name: 'Game Room Smoke'
      type: 'smoke'
    12:
      name: 'Family Room Smoke'
      type: 'smoke'
    13:
      name: 'Garage Heat'
      type: 'smoke'
    14:
      name: 'Sprinkler Flow'
      type: 'smoke'
  partitions:
    1:
      name: 'House Alarm'

input_boolean:
  guest_mode:
    name: Guest Mode
  disable_stairs_cover_down_automation:
    name: Disable Stairs Cover Down Automation
    initial: false
  disable_retreat_cover_down_automation:
    name: Disable Retreat Cover Down Automation
    initial: false
  disable_livingroom_cover_down_automation:
    name: Disable Livingroom Cover Down Automation
    initial: false
  disable_stairs_cover_up_automation:
    name: Disable Stairs Cover Up Automation
    initial: false
  disable_retreat_cover_up_automation:
    name: Disable Retreat Cover Up Automation
    initial: false
  disable_livingroom_cover_up_automation:
    name: Disable Livingroom Cover Up Automation
    initial: false
#  bright_light:
#    name: Bright Light Outside
#    initial: false

mqtt:
  sensor:
    - state_topic: room-assistant/status/familyroom
      unique_id: room_assistant_familyroom
      name: "Room Assistant Familyroom"
    - state_topic: room-assistant/status/gameroom
      unique_id: room_assistant_gameroom
      name: "Room Assistant Gameroom"
    - state_topic: room-assistant/status/retreat
      unique_id: room_assistant_retreat
      name: "Room Assistant Retreat"
    - state_topic: room-assistant/status/garage
      unique_id: room_assistant_garage
      name: "Room Assistant Garage"
    - state_topic: environment/horizonview_garage/BME280_temperature
      unique_id: garage_temperature
      name: 'Garage Temperature'                                                   
    - state_topic: 'environment/horizonview_garage/BME280_humidity'                   
      unique_id: garage_humidity
      name: 'Garage Humidity'
    - state_topic: 'environment/horizonview_garage/BME280_pressure'                   
      unique_id: garage_pressure
      name: 'Garage Pressure'                                                      
      unit_of_measurement: 'hPa'                                                   
    - state_topic: 'environment/horizonview_garage/BME280_sealevel_pressure'          
      unique_id: garage_sealevel_pressure
      name: 'Garage Sealevel Pressure'                                             
      unit_of_measurement: 'hPa'                                                   
    
sensor:
  - platform: gpsd           
    name: HorizonView GPS
    host: 192.168.35.157
    scan_interval: 300
#  - platform: hydrawise
  # Weewx Weather
  - platform: rest
    resource: http://192.168.35.157/weewx/daily.json
    name: Weewx Weather
    scan_interval: 150
    force_update: true
    json_attributes:
      - time
      - current
      - almanac
    value_template: '{{ value_json.location }}'
  - platform: rest
    name: "Vera House Mode"
    resource: !secret vera_resource
    method: "GET"
    scan_interval: 20
    value_template: >-
      {% set mapper =  {
        '1' : 'Home',
        '2' : 'Away',
        '3' : 'Night',
        '4' : 'Vacation' } %}
      {{ mapper[value] }}
  - platform: rest
    name: "Chilly Brown Owl LED"
    unique_id: chilly_brown_owl_led
    scan_interval: 300 # 5 min
    resource: !secret bobcat_led
    value_template: "{{value_json.led}}"
  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: swap_use_percent
      - type: disk_use_percent
        arg: /
      - type: processor_use
      - type: load_1m       
      - type: last_boot
# CPU Temperature of pi
  - platform: command_line
    name: CPU Temperature
    command: "cat /sys/class/thermal/thermal_zone0/temp"
    # If errors occur, remove degree symbol below
#    value_template: "{{ (value | multiply(0.0018) + 32) | float(default=0) | round(0) }}"
    value_template: "{{ value | multiply(0.001) | float(default=0) | round(1) }}"
    unit_of_measurement: " 째C"
#  - platform: filesize
#    file_paths:              
#      - /config/home-assistant_v2.db
#  - platform: version
#    name: latest_available_version
#    source: hassio
#  - platform: version
#    name: installed_version
  - platform: time_date
    display_options:        
      - 'time'              
#      - 'date'              
#      - 'date_time'         
#      - 'date_time_utc'     
#      - 'date_time_iso'     
#      - 'time_date'         
#      - 'time_utc'          
  - platform: snmp
    host: 192.168.35.162
    baseoid: 1.3.6.1.2.1.25.1.8.1
    name: raspi_familyroom_hv_cpu_temperature
    scan_interval: 300
    accept_errors: true
    value_template: "{{ value }}"
    unit_of_measurement: " 째C"
  - platform: snmp
    host: 192.168.35.163
    baseoid: 1.3.6.1.2.1.25.1.8.1
    name: raspi_garage_hv_cpu_temperature
    scan_interval: 300
    accept_errors: true
    value_template: "{{ value }}"
    unit_of_measurement: " 째C"
#  - platform: snmp
#    host: 192.168.35.164
#    baseoid: 1.3.6.1.2.1.25.1.8.1
#    name: raspi_retreat_hv_cpu_temperature
#    scan_interval: 300
#    accept_errors: true
#    value_template: "{{ value }}"
#    unit_of_measurement: " 째C"
  - platform: snmp
    name: erx_wan_in
    host: 192.168.35.254
    baseoid: 1.3.6.1.2.1.31.1.1.1.6.4
    community: public
    version: '2c'
    scan_interval: 10
    accept_errors: true
  - platform: snmp
    name: erx_wan_out
    host: 192.168.35.254
    baseoid: 1.3.6.1.2.1.31.1.1.1.10.4
    community: public
    version: '2c'
    scan_interval: 10
    accept_errors: true
  - platform: derivative
    name: erx_wan_in_derivative
    source: sensor.erx_wan_in
    unit_time: s
    unit: B
  - platform: derivative
    name: erx_wan_out_derivative
    source: sensor.erx_wan_out
    unit_time: s
    unit: B
  - platform: snmp                                                
    host: 192.168.35.254                                                                        
    version: 2c                   
    name: Xfinity WAN Usage
    scan_interval: 23                        
    unit_of_measurement: 'MiB'    
    baseoid: 1.3.6.1.4.1.8072.1.3.2.4.1.2.10.119.97.110.95.117.115.97.103.101.0.1                  
    accept_errors: true   
    value_template: '{{value | float(default=0) }}'
  - platform: statistics                                                    
    name: Xfinity WAN Statistics
    entity_id: sensor.xfinity_wan_usage
    state_characteristic: change                                
    sampling_size: 28800 
    max_age: 24:00:00                        
  - platform: history_stats
    name: Upstairs HVAC Duty Cycle
    entity_id: binary_sensor.upstairs_hvac_status
    state: "on"
    type: ratio                                                   
    #start: "{{ now().replace(hour=0, minute=0, second=0) }}"
    end: "{{ now() }}"
    duration:
      hours: 24                      
  - platform: history_stats
    name: Downstairs HVAC Duty Cycle
    entity_id: binary_sensor.downstairs_hvac_status
    state: "on"
    type: ratio                                                   
    #start: "{{ now().replace(hour=0, minute=0, second=0) }}"
    end: "{{ now() }}"
    duration:
      hours: 24                      
  - platform: history_stats
    name: Chiller Duty Cycle
    entity_id: binary_sensor.chiller_status
    state: "on"
    type: ratio
    #start: "{{ now().replace(hour=0, minute=0, second=0) }}"
    end: "{{ now() }}"
    duration:
      hours: 24
  - platform: history_stats
    name: Water Heater Duty Cycle
    entity_id: binary_sensor.water_heater_status
    state: "on"
    type: ratio
    #start: "{{ now().replace(hour=0, minute=0, second=0) }}"
    end: "{{ now() }}"
    duration:
      hours: 24
  - platform: history_stats
    name: Chiller Time On
    entity_id: binary_sensor.chiller_status
    state: "on"
    type: time
    #start: "{{ now().replace(hour=0, minute=0, second=0) }}"
    end: "{{ now() }}"
    duration:
      hours: 24
  - platform: history_stats
    name: Chiller On Count
    entity_id: binary_sensor.chiller_status
    state: "on"                                                   
    type: count
    #start: "{{ now().replace(hour=0, minute=0, second=0) }}"
    end: "{{ now() }}"
    duration:
      hours: 24
  - platform: integration
    source: sensor.pentair_0d_ce_47_pool_pump_current_watts 
    name: 'Pentair: 0D-CE-47 Pool Pump Current Energy'
    unit_prefix: k
    unit_time: h
    method: left
    round: 2
  - platform: integration
    name: Grid Import Energy
    source: sensor.grid_import_power
    unit_prefix: k
    unit_time: h
    method: left
  - platform: integration
    name: Grid Export Energy
    source: sensor.grid_export_power
    unit_prefix: k
    unit_time: h
    method: left
  - platform: integration 
    source: sensor.closet_ups_current_power                                                                                   
    name: Closet UPS Energy
    unit_prefix: k                           
    unit_time: h                                                                       
    round: 2                      
  - platform: integration 
    source: sensor.retreat_ups_current_power                                                                                   
    name: Retreat UPS Energy
    unit_prefix: k                           
    unit_time: h                                                                       
    round: 2                      
  - platform: integration 
    source: sensor.guest1_floor_power
    name: Guest1 Floor Energy
    unit_prefix: k                           
    unit_time: h                                                                       
    round: 2                      
  - platform: integration 
    source: sensor.guest2_floor_power
    name: Guest2 Floor Energy
    unit_prefix: k                           
    unit_time: h                                                                       
    round: 2                      
  - platform: integration 
    source: sensor.master_floor_power
    name: Master Floor Energy
    unit_prefix: k                           
    unit_time: h                                                                       
    round: 2                      
  - platform: derivative
    source: sensor.pool_room_temperature
    name: Pool Room Change per Minute
    round: 1
    unit_time: min
#switch:
#  - platform: hydrawise

#light:
#  - platform: switch
#    name: Pool Lights
#    entity_id: switch.pentair_pool_lights
#  - platform: switch
#    name: Spa Lights
#    entity_id: switch.pentair_spa_lights

# Example configuration.yaml entry
utility_meter:
  daily_energy:
    source: sensor.eagle_200_net_meter_energy_delivered_minus_received
    cycle: daily
    net_consumption: true
  daily_envoy_energy:
    source: sensor.envoy_net_meter_energy_consumption_minus_production
    cycle: daily
    net_consumption: true
  daily_home_delivered:
    source: sensor.eagle_200_total_meter_energy_delivered
    cycle: daily
  daily_home_received:
    source: sensor.eagle_200_total_meter_energy_received
    cycle: daily
  daily_energy_import:
    source: sensor.grid_import_energy
    name: Daily Import Meter
    cycle: daily
  daily_energy_export:
    source: sensor.grid_export_energy
    name: Daily Export Meter
    cycle: daily

#iqvia:
#  zip_code: "95404"

#weather:
#  - platform: darksky
#    api_key: !secret darksky_api
#    mode: daily
#    scan_interval:
#      minutes: 15

# Text to speech
#tts:
#  - platform: google_translate

lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/bignumber-card/bignumber-card.js
      type: module
    - url: /hacsfiles/lovelace-card-tools/card-tools.js
      type: module
    - url: /hacsfiles/secondaryinfo-entity-row/secondaryinfo-entity-row.js
      type: module
    - url: /hacsfiles/flex-horseshoe-card/flex-horseshoe-card.js
      type: module
    - url: /hacsfiles/lovelace-multiple-entity-row/multiple-entity-row.js
      type: module
    - url: /hacsfiles/simple-thermostat/simple-thermostat.js
      type: module
    - url: /hacsfiles/button-card/button-card.js
      type: module
    - url: /hacsfiles/entity-attributes-card/entity-attributes-card.js
      type: module
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/bar-card/bar-card.js
      type: module
    - url: /hacsfiles/canvas-gauge-card/canvas-gauge-card.js
      type: module
    - url: /hacsfiles/home-assistant-sun-card/home-assistant-sun-card.js
      type: module
    - url: /hacsfiles/mini-media-player/mini-media-player-bundle.js
      type: module
    - url: /hacsfiles/compass-card/compass-card.js
      type: module
    - url: /hacsfiles/battery-state-card/battery-state-card.js
      type: module

frontend:                              
  extra_module_url:                                                  
    - /hacsfiles/lovelace-card-mod/card-mod.js


history: !include history.yaml
recorder: !include recorder.yaml
automation: !include automations.yaml
automation split: !include_dir_list automations
binary_sensor: !include binary_sensors.yaml
group: !include groups.yaml
#homekit: !include homekit.yaml
scene: !include scenes.yaml
script: !include scripts.yaml
script split: !include_dir_list scripts
template: !include templates.yaml
rest_command: !include rest.yaml
shell_command: !include shell_command.yaml
zone: !include zones.yaml
